<section>
    <a href="/dashboard">back to dashboard</a>
  <h2 class="form-title">create new post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="form-label">Title:</label>
      <input class="form-input" type="text" id="post-title" name="post-title" placeholder="insert blog title here"/>
    </div>
    <div>
      <label for="post-content">Content:</label>
      <input class="form-input" id="content" name="content" placeholder="insert blog content here"/>
    </div>
    <button type="submit" class="btn">create post</button>
  </form>
</section>

<script src="/js/add-post.js"></script>
<script src="/js/create-post.js"></script>