<div>
  <a href="/dashboard/create/"><button id="create-post" class="btn">create post</button></a>
        
  <h2 for="title" class="form-label">Your Posts</h2><hr>
  {{#if posts.length}}
    </div>
    {{#each posts as |post|}}
    {{> post-content post}}
            <a href="/dashboard/edit/{{post.id}}"><button class="btn">edit post</button></a>
        </div>
    {{/each}}

{{else}}
<h6>you do not currently have any posts</h6>

{{/if}}